.pic{
    background-image: url('Images/SkylineOne.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    font-size: 50px;
    color: black;
}
p1{
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}
p2{
    position: absolute;
    top: 90px;
    left: 01;
    width: 200px;
    height: 20px;
}

p3{
    text-align: center;
}